{{ define "body" }}

<div>
    <input id="search-input" placeholder="Search..." value="{{ .q }}"/>
    <button onclick="makeSearchRequest()">Search</button>
</div>

<div id="results">
    {{ range .search_results }}
    <div>
        <h2>
            <a class="search-result-title" href="{{ .URL }}">
                {{ .Title }}
            </a>
        </h2>
        <p class="search-result-description">
            {{ .Description }}
        </p>
    </div>
    {{ end }}
</div>

<script>
    function makeSearchRequest() {
        const query = document.getElementById("search-input").value;
        window.location.href = "/search?q=" + encodeURIComponent(query);
    }
</script>

{{ end }}
